<!DOCTYPE html>
<html>
<head>
    <title>LaFin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('dashboard.static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('dashboard.static', filename='css/jquery-ui.min.css') }}">
    <script src="{{ url_for('dashboard.static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('dashboard.static', filename='js/jquery-ui.min.js') }}"></script>
</head>
<body>
<h1>Dashboard</h1>
<div class="dashboard-content">
    <div class="dashboard-grid">
        {% for widget in widgets %}
            <div class="widget" widget="{{ widget.name }}">
            </div>
        {% endfor %}
    </div>
</div>
<script src ="{{ url_for('dashboard.static', filename='js/dashboard.js') }}"></script>
</body>
</html>